/**
* base.css
*/
@charset "UTF-8";
@import "base/_common";

main {
  font-family: Arial, Helvetica, sans-serif;
  @include breakpoint-min(sm) {
  }
  .fv {
    position: relative;
    margin: 0 0 250px 0;
    &-pc {
      @include breakpoint-min(sm) {
        display: none;
      }
    }
    &-sp {
      display: none;
      @include breakpoint-min(sm) {
        display: block;
      }
    }
    @include breakpoint-min(sm) {
      width: 100%;
      margin: 0 0 100px 0;
    }
    p {
      position: absolute;
      font-size: 80px;
      font-weight: 600;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: rgba(235, 36, 222, 0.8);
      text-align: center;
      @include breakpoint-min(sm) {
        display: none;
      }
      span {
        font-size: 60px;
        @include breakpoint-min(sm) {
          font-size: 30px;
        }
      }
      .sp2 {
        text-align: center;
        font-size: 25px;
        color: rgba(235, 36, 222, 0.8);
        @include breakpoint-min(sm) {
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
    img {
      opacity: 0.5;
      width: 100%;
      height: 100vh;
      z-index: -1;
      @include breakpoint-min(sm) {
        width: 100%;
        object-fit: cover;
        opacity: 1;
      }
    }
  }
  .profile {
    width: 80%;
    margin: 0 auto 250px;
    @include breakpoint-min(sm) {
      width: 90%;
      margin: 0 auto 100px;
    }
    h2 {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      position: relative;
      z-index: 0;
      color: #7c7c7c;
      @include breakpoint-min(sm) {
        font-size: 35px;
      }
      &::before {
        content: "profile";
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
        z-index: -1;
        font-size: 130px;
        font-weight: bold;
        color: rgba(253, 229, 229, 1);
        @include breakpoint-min(sm) {
          font-size: 80px;
        }
      }
    }
    .flex {
      display: flex;
      justify-content: space-around;
      margin: 0 0 50px 0;
      align-items: center;
      @include breakpoint-min(sm) {
        flex-direction: column-reverse;
      }
      .profile-l {
        width: 550px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        @include breakpoint-min(sm) {
          width: 90%;
          margin: 0 auto;
        }
        h3 {
          width: 500px;
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 30px;
          color: #7c7c7c;
          @include breakpoint-min(sm) {
            width: 90%;
            margin: 30px auto 30px;
            font-size: 30px;
          }
        }
        &-txt {
          span {
            font-size: 20px;
            font-weight: bold;
            @include breakpoint-min(sm) {
              font-size: 15px;
            }
          }
          font-size: 20px;
          margin-bottom: 10px;
          line-height: 1.8;
          color: #7c7c7c;
          @include breakpoint-min(sm) {
            font-size: 15px;
          }
        }
        &-txt2 {
          span {
            font-size: 26px;
            font-weight: bold;
            @include breakpoint-min(sm) {
              font-size: 20px;
            }
          }
          font-size: 20px;
          margin-bottom: 10px;
          line-height: 1.5;
          color: #7c7c7c;
          @include breakpoint-min(sm) {
            font-size: 15px;
          }
        }
      }
      .profile-r {
        img {
          border-radius: 40px;
          @include breakpoint-min(sm) {
            border-radius: 20px;
          }
        }
      }
    }
  }
  .works {
    max-width: 1120px;
    margin: 0 auto 250px;
    @include breakpoint-min(sm) {
      width: 90%;
      margin: 0 auto 100px;
    }
    h2 {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      position: relative;
      color: #7c7c7c;
      @include breakpoint-min(sm) {
        font-size: 35px;
      }
      &::before {
        content: "works";
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
        z-index: -1;
        font-size: 130px;
        font-weight: bold;
        color: rgba(253, 229, 229, 1);
        @include breakpoint-min(sm) {
          font-size: 85px;
        }
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include breakpoint-min(sm) {
        justify-content: center;
      }
      .box {
        width: 300px;
        margin: 0 0 50px 0;
        .works-img {
          margin: 0 0 20px 0;
          img {
            border-radius: 10px;
          }
        }
        .works-text {
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          color: #7c7c7c;
          margin: 0 0 10px 0;
        }
        .works-text2 {
          color: #7c7c7c;
          font-size: 20px;
          line-height: 1.5;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            position: relative;
            background: #1886a9;
            border: 1px solid #1886a9;
            border-radius: 30px;
            box-sizing: border-box;
            padding: 0 45px 0 25px;
            color: #fff;
            font-size: 14px;
            letter-spacing: 0.1em;
            line-height: 1.3;
            text-align: left;
          }
        }
        .art-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto 0;
          width: 80%;
          height: 50px;
          position: relative;
          background: #ed5fff;
          border: 1px solid #ed5fff;
          border-radius: 30px;
          box-sizing: border-box;
          padding: 0 45px 0 25px;
          color: #fff;
          font-size: 14px;
          letter-spacing: 0.1em;
          line-height: 1.3;
          text-align: left;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border: 0;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 25px;
            margin-top: -6px;
            z-index: 1;
          }
          &:hover {
            transition: .3s;
            opacity: .5;
          }
        }
      }
    }
  }
  .performance {
    margin: 0 auto 250px;
    @include breakpoint-min(sm) {
      width: 90%;
      margin: 0 auto 120px;
    }
    .performance-ttl {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      color: #7c7c7c;
      @include breakpoint-min(sm) {
        font-size: 35px;
      }
      &::before {
        content: "performance";
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
        z-index: -1;
        font-size: 80px;
        font-weight: bold;
        color: rgba(253, 229, 229, 1);
        @include breakpoint-min(sm) {
          font-size: 50px;
        }
      }
    }
    table {
      width: 70%;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0 auto;
      border: 1px solid #f3e1e9;
      @include breakpoint-min(sm) {
        display: block;
        width: 100%;
        border: 1px solid #f3e1e9;
        font-size: 13px;
      }

      td {
        padding: 10px 0;
        text-align: left;
        width: 80%;
        line-height: 1.5;
        @include breakpoint-min(sm) {
          display: block;
          width: 90%;
          margin: 0 auto;
        }
        a {
          @include breakpoint-min(sm) {
            font-size: 12px;
          }
        }
      }
      th {
        padding: 15px 0;
        text-align: center;
        width: 20%;
        @include breakpoint-min(sm) {
          display: block;
          width: 100%;
          background-color: rgba(253, 229, 229, 0.5);
        }
      }

      tr {
        &:nth-child(odd) {
          background-color: rgba(253, 229, 229, 0.5);
          @include breakpoint-min(sm) {
            background-color: #fff;
          }
        }
      }
    }
  }
  .contact {
    margin: 0 auto 150px;
    h2 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      color: #7c7c7c;
      @include breakpoint-min(sm) {
        font-size: 35px;
      }
      &::before {
        content: "Contact";
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
        z-index: -1;
        font-size: 120px;
        font-weight: bold;
        color: rgba(253, 229, 229, 1);
        @include breakpoint-min(sm) {
          font-size: 80px;
        }
      }
    }
    p {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #7c7c7c;
      margin: 0 0 30px 0;
      @include breakpoint-min(sm) {
        font-size: 18px;
        width: 80%;
        margin: 0 auto 30px;
        line-height: 1.5;
      }
    }
    table {
      margin: 0 auto;
      font-size: 30px;
      @include breakpoint-min(sm) {
        font-size: 20px;
        width: 90%;
      }
      tr {
        @include breakpoint-min(sm) {
          display: block;
          width: 100%;
          margin: 0 0 0 20px;
        }
        th {
          text-align: right;
          // @include breakpoint-min(sm) {
          //   display: block;
          //   width: 100%;
          // }
        }
        td {
          text-align: left;
          // @include breakpoint-min(sm) {
          //   display: block;
          //   width: 100%;
          // }
          @include breakpoint-min(sm) {
            text-align: right;
          }
        }
      }
    }
  }
}
.footer {
  height: 250px;
  background: rgba(235, 136, 228, 0.6);
  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      a {
        i {
          color: #7c7c7c;
          transition: 0.5s;
        }
        .fa-twitter:hover {
          color: #1da1f2;
        }
        .fa-instagram:hover {
          color: #d93177;
        }
        .fa-facebook:hover {
          color: #3b5998;
        }
      }
    }
  }

  .sns {
    width: 200px;
    padding-top: 30px;
    margin: auto;
    color: #7c7c7c;
  }
  .footer-text {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    @include breakpoint-min(sm) {
      font-size: 15px;
    }
  }
  .footer-sub-text {
    text-align: center;
    font-size: 25px;
    color: #fff;
    @include breakpoint-min(sm) {
      font-size: 20px;
    }
  }
}
